.dashboard-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 2px solid grey;
}

.dash-layout-inner-card {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
}

.dash-layout-inner-card > aside {
  width: 15%;
  height: 100%;
  background-color: #001034;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.dash-layout-inner-card > aside > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dash-layout-inner-card > aside > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 10px;
}
.dash-layout-inner-card > aside > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.dashboard-layout-right-main {
  width: 85%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid blue;
}
