{% extends "base.html" %} 
{% load static %} 
{% block title %} About Us {% endblock %}
{% block style_link %} 
<link rel="stylesheet" href={% static 'main_content/about.css' %} /> {% endblock %}

{% block main %}
{% include "main_content/includes/header.html" %}

<section class="about-hero-section">
    <div class="about-hero-first-card">
        <span class="about-hero-curve-line"></span>
    </div>
    <div class="about-center-card">
        <img src={% static "/main_content/images/about-main.jpeg" %} alt="" />
    </div>
    <div class="about-hero-first-card">
        <span class="about-hero-curve-line-second"></span>
    </div>
</section>


<section class="about-second-card">
    <div class="about-second-first-card">
        <div></div>
    </div>
    <div class="about-second-center-card">
        <div class="about-econd-center-inner-card">
            <div class="about-second-center-inner-first-card">
                <h1>Our 15-Years Journey</h1>
                <span>From humble begining to industry leaders</span>
                <p>Founded in 2008, our company began with a passion for transforming landscapes and building lasting infrastructure. What started as a small team focused on residential projects has frowth into a leading civil construction firm, deluvering large-scale commercial and infrastructure solutions across the region. Over the past 15 years, we've completed over 500 projects, ranging from office buildings to bridges, roads, and sustainable developments. Our commitment to quality, innovation, and client satisfaction has earned us numerous industry awards and long-standing partnerships with clients.</p>
                <div class="about-second-center-inner-first-card-btn">
                    <button>Our Histor</button>
                    <div>
                        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg fill="#000000" width="100%" height="100%" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
                        <path d="M196,64V168a4,4,0,0,1-8,0V73.65625L66.82812,194.82812a3.99957,3.99957,0,0,1-5.65625-5.65625L182.34375,68H88a4,4,0,0,1,0-8H192A4.0002,4.0002,0,0,1,196,64Z"/>
                        </svg>
                    </div>                
                </div>
            </div>
            <div class="about-second-center-inner-second-card">
                <div class="about-second-center-inner-second-img-card">
                    <img src={% static '/main_content/images/about  us 2.png' %} alt="" />
                    <div>
                        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <svg fill="#000000" width="100%" height="100%" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
                        <path d="M196,64V168a4,4,0,0,1-8,0V73.65625L66.82812,194.82812a3.99957,3.99957,0,0,1-5.65625-5.65625L182.34375,68H88a4,4,0,0,1,0-8H192A4.0002,4.0002,0,0,1,196,64Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-second-second-card">
        <div></div>
    </div>

</section>

<section class="about-third-card">
    <div class="about-third-safety-card">
        <div class="about-third-safety-first-card">
            <span class="about-third-safety-first-span"></span>
            <div class="about-third-safety-center-card">
                <span></span>
                <p>Safety</p>
                <span></span>
            </div>
            <span class="about-third-safety-first-span"></span>
        </div>
        <p>Safety is at the heart of everything we do. We are committed to maintaining the highest safety standards on every project to protect our workers, client, and the surrounding community. Through continuos training and strict adherence to safety regulations, we ensure a secure working environment at all times</p>
    </div>
    <div class="about-third-safety-card">
        <div class="about-third-safety-first-card">
            <span class="about-third-safety-first-span"></span>
            <div class="about-third-safety-center-card">
                <span></span>
                <p>Quality</p>
                <span></span>
            </div>
            <span class="about-third-safety-first-span"></span>
        </div>
        <p>We take pride in delivering exceptional quality in every aspect of our work. From materials to craftsmanship, our attention to detail ensure that each project meets the highest industry standards. Our commitments to excellence dr</p>
    </div>
    <div class="about-third-safety-card-last">
        <div class="about-third-safety-first-card">
            <span class="about-third-safety-first-span"></span>
            <div class="about-third-safety-center-card">
                <span></span>
                <p>Sustainability</p>
                <span></span>
            </div>
            <span class="about-third-safety-first-span"></span>
        </div>
        <p>We are dedicated to building a sustainable future by integrating eco-friendly practices into our projects. By using energy-efficient materials, minimizing waste, and adopting green building techniques, we aim to reduce our environmental footprint while contributing to the wellbeing of communities and the planet</p>
    </div>
</section>

<section class="about-fouth-card">
    <div class="about-fouth-first-card">
        <div></div>
    </div>
    <div class="about-second-center-card">
        <div class="about-fouth-center-card">
            <img src={% static "/main_content/images/about 3.png" %} alt="" />
            <div class="about-fouth-center-text-card">
                <div class="about-fouth-center-text-first-card">
                    <span>Client Testimonials</span>
                    <h1>What Our Clients</h1>
                    <h1>Say</h1>
                </div>
                <div class="about-fouth-center-text-second-card">
                    <p>Discover how our client have benefited from our commitment to excellence and innovative construction solutions.</p>
                    <div>
                        <button>Contact Us Today</button>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-fouth-second-card">
        <div></div>
    </div>
</section>

<section class="about-fifth-card">
    <div class="about-fifth-first-card">
        <div class="about-fifth-first-first-card"></div>
        <div class="about-fifth-first-center-card">
           <h1>Our Recent Project</h1>
           <p>Showcasing Our Work</p>
        </div>
        <div class="about-fifth-first-first-card"></div>
    </div>
    <div class="about-fifth-second-card">
        <div class="about-fifth-first-first-card"></div>
        <div class="about-fifth-second-center-card">
            <div class="about-fifth-second-center-left-card">
                <h2>Explore our diverse portfolio of  <br />successfull projects that highlight our...</h2>
                <p>From residential homes to large-scale infrastructure. our projects reflect our commitment to quality.</p>
                <div>
                    <button>View project</button>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="about-fifth-second-center-right-card">
                <img src={% static "/main_content/images/Const 1.png" %} alt="">
            </div>
        </div>
        <div class="about-fifth-first-first-card"></div>
    </div>
</section>

<section class="about-sixth-card">
    <div class="about-sixth-first-card"></div>
    <div class="about-sixth-center-card">
        <img src={% static "/main_content/images/about 5.png" %} alt="">
        <div class="about-sixt-center-inner-card">
            <span class="about-sixth-center-inner-first-card"></span>
            <div class="about-sixt-center-inner-center-card">
               <div>
                    <h1>Our Latest Achievements</h1>
                    <p>Each project tells a story of innovation and dedication to quality construction</p>
                    <div>
                        <button>View Projects</button>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
               </div>
               <span></span>
            </div>
            <span class="about-sixth-center-inner-third-card"></span>
        </div>
    </div>
    <div class="about-sixth-first-card"></div>
</section>

<section class="about-seventh-card">
    <div class="about-seventh-first-card">
        <span class="about-seventh-first-span"></span>
        <div class="about-seventh-center-card">
            <span></span>
            <div>
                <h1>Innovative Designs</h1>
                <p>Our design prioritize functinality and subtainability, ensure <br /> lasting impact.</p>
                <div>
                    <button>View Projects</button>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <span class="about-seventh-first-span"></span>
    </div>
    <div class="about-seventh-second-card">
        <img src={% static "/main_content/images/about 6.png" %} alt="">
        <span></span>
    </div>

</section>

{% comment %} <section class="about-eight-card">
    <div class="about-eight-first-card">
        <span class="about-eight-first-card-span"></span>
    </div>
</section> {% endcomment %}

<section class="about-ten-card">
    <h1>Why Choose Us</h1>
    <span>Your Trusted Partner</span>
    <div class="about-ten-inner-card">
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
        <div class="about-ten-inner-single-card">
            <i class="fa-solid fa-message"></i>
            <div>
                <h4>Innovative Solutions</h4>
                <p>We Provide cutting-edge solutions trailored to your needs</p>
            </div>
        </div>
    </div>
</section>

{% include "main_content/includes/footer.html" %}


  {% endblock %}

  {% block javascript %} 
  <script src="{% static '/main_content/header.js' %}"></script>
   {% endblock %}