{% extends "base.html" %} 
{% load static %} 
{% block title %}services{% endblock%} 
{% block style_link %} <link rel="stylesheet" href={% static 'main_content/highlights.css' %} /> {% endblock %}
 {% block main %} 
 {% include "main_content/includes/header.html" %}

<section class="highlights-hero-section">
  <div class="highlights-hero-first-card">
    <span class="highlights-hero-curve-line"></span>
  </div>
  <div class="highlights-center-card">
    <img src={% static "/main_content/images/services-hero-image.jpeg" %} alt=""
    />
    <div class="highlights-center-inner-card">
      <h1>Comprehensive Civil</h1>
      <h1>Construction Services</h1>
      <p>From site preparation to project</p>
      <p>Completion, we handle every aspect of</p>
      <p>Your construction needs</p>
      <button>Learn More About Our Services</button>
    </div>
  </div>
  <div class="highlights-hero-first-card">
    <span class="highlights-hero-curve-line-second"></span>
  </div>
</section>

<section class="second">
  <span class="second-span"></span>
  <div class="second-center">
    <h1>Futured Event</h1>
  </div>
</section>

<section class="third">
  <div class="third-first">
    <div class="third-first-first">
      <div class="first-first-center">
        <img src={% static "/main_content/images/c1.png" %} alt="">
        <div>
          <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
          <svg
            fill="#000000"
            width="100%"
            height="100%"
            viewBox="0 0 256 256"
            id="Flat"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M196,64V168a4,4,0,0,1-8,0V73.65625L66.82812,194.82812a3.99957,3.99957,0,0,1-5.65625-5.65625L182.34375,68H88a4,4,0,0,1,0-8H192A4.0002,4.0002,0,0,1,196,64Z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="third-inner-card"></div>
    <span class="third-first-span-f"></span>
    <span class="third-first-span-s"></span>
    <span class="third-first-span-t"></span>
    <span class="third-first-span-fo"></span>
  </div>
  <div class="third-second">
    <div class="third-second-center">
      <h1>Event Name</h1>
      <h1>Date & Loc</h1>
      <h1>Surveying worksop</h1>
      <h1>Description</h1>
      <button>View Event Details</button>
    </div>
    <div class="third-inner-card"></div>
  </div>
</section>

<section class="fouth">
  <span class="fourth-first"></span>
  <div class="fouth-center">
    <h1>Event Highlights</h1>
    <span class="fouth-first-s-f"></span>
    <span class="fouth-first-s-s"></span>
  </div>
</section>

<section class="five">
  <span class="five-first"></span>
  <div class="five-center">
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
  </div>
</section>

<section class="six">
  <span class="five-first"></span>
  <div class="five-center">
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
    <div class="five-center-single-card">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <p>Work</p>
      <p>12-08-2023</p>
      <p>Hyderbad</p>
      <button>View More</button>
    </div>
  </div>
</section>

<section class="seven">
  <div class="seven-first">
    <span class="seven-first-first"></span>
    <div class="seven-first-center">
      <h1>Event Moments</h1>
      <span class="seven-first-center-s-f"></span>
      <span class="seven-first-center-s-s"></span>
    </div>
    <span class="seven-first-first"></span>
  </div>
  <div class="seven-second">
    <span class="seven-first-first"></span>
    <div class="seven-second-center">
      <div>
        <h1>Video Clip</h1>
        <h1>Team at 2023 Holiday Party</h1>
        <button>View Fully Gallery</button>
      </div>
    </div>
    <span class="seven-first-first"></span>
  </div>
</section>

<section class="eight">
  <span class="eight-first"></span>
  <div class="eight-center">
    <h1>Upcomming Events</h1>
    <div class="eight-center-inner">
        <div class="eight-center-inner-single">
            <img src={% static "/main_content/images/about 6.png" %} alt="">
            <h3>Work Shop</h3>
            <h3>March 24-05-2025</h3>
            <h3>Online</h3>
            <button>Register Now</button>
        </div>
        <div class="eight-center-inner-single">
            <img src={% static "/main_content/images/about 6.png" %} alt="">
            <h3>Work Shop</h3>
            <h3>March 24-05-2025</h3>
            <h3>Online</h3>
            <button>Register Now</button>
        </div>
        <div class="eight-center-inner-single">
            <img src={% static "/main_content/images/about 6.png" %} alt="">
            <h3>Work Shop</h3>
            <h3>March 24-05-2025</h3>
            <h3>Online</h3>
            <button>Register Now</button>
        </div>
    </div>
    
  </div>
  <span class="eight-first"></span>
</section>

<section class="nine">
    <span class="eight-first"></span>
    <div></div>
    <span class="eight-first"></span>
</section>

<section class="ten">
    <span class="ten-first"></span>
    <div class="ten-center">
        <div class="ten-center-left">
            <h2>Our Events</h2>
            <div class="ten-center-inner">
                <div class="ten-center-inner-first"></div>
                <div class="ten-center-inner-second"></div>
            </div>
            <button>View Details</button>
        </div>
        <div class="ten-center-right">
            <div></div>
            <button>View Details</button>
        </div>
    </div>
    <span class="ten-second"></span>
</section>

<section class="eleven">
    <span class="eleven-first"></span>
<div class="eleven-center">
    <div class="eleven-center-inner">
        <img src={% static "/main_content/images/about 3.png" %} alt="">
        <div class="eleven-center-posi">
            <h1>Stay Updated on Our Events</h1>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email">
            </div>
            <button>Sign Up for Updateds</button>
        </div>
    </div>
</div>
    <span class="eleven-first"></span>

</section>

{% include "main_content/includes/footer.html" %} {% endblock %}
