{% extends "base.html" %}
{% load static %}
{% block title %}services{% endblock %}
{% block style_link %} 
<link rel="stylesheet" href={% static 'main_content/projects.css' %} /> {% endblock %} 
{% block main %}
{% include "main_content/includes/header.html" %}

<section class="projects-hero-section">
  <div class="projects-hero-first-card">
    <span class="projects-hero-curve-line"></span>
  </div>
  <div class="projects-center-card">
    <img src={% static "/main_content/images/services-hero-image.jpeg" %} alt=""
    />
    <div class="projects-center-inner-card">
      <h1>Welcome to Our Construction</h1>
      <h1>Prijects Showcase</h1>
      <p>From site preparation to project</p>
      <p>Completion, we handle every aspect of</p>
      <p>Your construction needs</p>
      <button>Learn More About Our Services</button>
    </div>
  </div>
  <div class="projects-hero-first-card">
    <span class="projects-hero-curve-line-second"></span>
  </div>
</section>

<section class="second">
  <span>
    <span></span>
  </span>
  <div class="second-center">
    <h1>Our Commitment to Quality</h1>
    <img src={% static "/main_content/images/Group 117.png" %} alt="">
    <span></span>
  </div>
  <span>
    <span></span>
  </span>
</section>

<section class="third">
  <span></span>
  <div class="third-center">
    <div class="third-center-inner">
      <div class="third-center-left">
        <p>Cutting-Edge Techgology</p>
        <h1>Innovative Solutions</h1>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
        <span>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker</span>
        <button>Explore Our Projects</button>
      </div>
      <div class="third-center-right">
        <img src={% static "/main_content/images/Group 117.png" %} alt="">
      </div>
    </div>
  </div>
  <span></span>
</section>

<section class="fouth">
  <span></span>
  <div class="fouth-center">
    <div class="fouth-center-left">
      <div class="fouth-center-left-first">
        <div class="fouth-center-left-first-top">
          <img src={% static "/main_content/images/project 1.png" %} alt="">
          <img src={% static "/main_content/images/project 6.png" %} alt="">
        </div>
        <div class="fouth-center-left-first-top">
          <img src={% static "/main_content/images/project 4 (1)1.png" %} alt="">
          <img src={% static "/main_content/images/project 4.png" %} alt="">
        </div>
      </div>
      <div class="fouth-center-left-second">
        <img src={% static "/main_content/images/project 3.png" %} alt="">
        <img src={% static "/main_content/images/Group 118.png" %} alt="">
      </div>
    </div>
    <div class="fouth-center-right">
      <div class="fouth-center-right-first">
        <span></span><span></span><span></span><span></span>
      </div>
      <div class="fouth-center-right-second">
        <h3>Building a Sustainable Future</h3>
        <div>
          <div>
            <i class="fa-solid fa-house"></i>
            <h5>Sustainable</h5>
            <p>Environment all conscious practice</p>
          </div>
          <div>
            <i class="fa-solid fa-house"></i>
            <h5>Innovative </h5>
            <p>Environment all conscious practice</p>
          </div>
          <div>
            <i class="fa-solid fa-house"></i>
            <h5>Commitmen</h5>
            <p>Environment all conscious practice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span></span>
</section>

<section class="five">
  <span></span>
  <div class="five-center">
    <div class="five-center-first">
      <h2>Our Complete Projects</h2>
    </div>
    <div class="five-center-second">
      <div class="five-center-second-left">
        <h2>Showcasing Our Craftsmanship</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button>View Galley</button>
        <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing </p>
        <p>Residential</p>
        <p>Commercial</p>
        <button>Explore More</button>
      </div>
      <div class="five-center-second-right">
        <img src={% static "/main_content/images/image 4.png" %} alt="">
        <div><img src={% static "/main_content/images/project 6.png" %} alt=""><img src={% static "/main_content/images/project 4.png" %} alt=""></div>
      </div>
    </div>
  </div>
  <span></span>
</section>

<section class="six">
  <span></span>
  <div class="six-center">
    <div class="six-center-inner">
      <div class="six-center-left">
        <img src={% static "/main_content/images/project 7.png" %} alt="">
      </div>
      <div class="six-center-right">
        <h3>Driving Progress</h3>
        <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing </p>
        <button>Get in Touch </button>
        <span></span>
        <span></span>

      </div>
    </div>
  </div>
  <span></span>
</section>

<section class="seven">
  <span class="seven-first"></span>
<div class="seven-center">
  <div class="seven-center-inner">
      <img src={% static "/main_content/images/about 3.png" %} alt="">
      <div class="seven-center-posi">
          <h1>Stay Updated on Our Events</h1>
          
          <button>Sign Up for Updateds</button>
      </div>
  </div>
</div>
  <span class="seven-first"></span>
</section>

{% include "main_content/includes/footer.html" %} {% endblock %}

{% block javascript %} 
<script src="{% static '/main_content/header.js' %}"></script>
 {% endblock %}
