{% extends "base.html" %}
 {% load static %}
  {% block title %}services{% endblock %} 
{% block style_link %} 
<link rel="stylesheet" href={% static 'main_content/services.css' %} /> {% endblock %}
 {% block main %} 
 {% include "main_content/includes/header.html" %}

<section class="services-hero-section">
  <div class="services-hero-first-card">
    <span class="services-hero-curve-line"></span>
  </div>
  <div class="services-center-card">
    <img src={% static "/main_content/images/services-hero-image.jpeg" %} alt=""
    />
    <div class="services-center-inner-card">
      <h1>Comprehensive Civil</h1>
      <h1>Construction Services</h1>
      <p>From site preparation to project</p>
      <p>Completion, we handle every aspect of</p>
      <p>Your construction needs</p>
      <button>Learn More About Our Services</button>
    </div>
  </div>
  <div class="services-hero-first-card">
    <span class="services-hero-curve-line-second"></span>
  </div>
</section>

<section class="services-second-card">
  <div class="services-second-first-card">
    <div class="services-second-first-first-card">
      <span></span>
    </div>
    <div class="services-second-first-center-card">
      <h1>Services Page</h1>
    </div>
    <div class="services-second-first-third-card">
      <span></span>
    </div>
  </div>
  <div class="services-second-second-card">
    <div class="services-second-second-first-card">
      <span></span>
    </div>
    <div class="services-second-second-center-card"></div>
    <div class="services-second-second-first-card">
      <span></span>
    </div>
  </div>
  <div class="services-second-third-card">
    <div class="services-second-third-first-card">
      <span></span>
    </div>
    <div class="services-second-third-center-card">
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s1.png" %} alt="">
        <h3>Serveying</h3>
        <p>
          Transforming spaces into home with personalized design and top-notch
          materials for lasting confomt.
        </p>
      </div>
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s2.png" %} alt="">
        <h3>Constructions</h3>
        <p>
          Creating functional and aesthetical pleasing commercial spaces that
          elevate your business environment.
        </p>
      </div>
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s3.png" %} alt="">
        <h3>Architecture</h3>
        <p>
          Delivering tailored construction solutions that engance operational
          efficiency and safety for industrial facilities.
        </p>
      </div>
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s4.png" %} alt="">
        <h3>labour Supply</h3>
        <p>
          Building essential infrastructure that supports community growth and
          sustainability for fiture generations.
        </p>
      </div>
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s5.png" %} alt="">
        <h3>Material Supply</h3>
        <p>
          Incorporating cutting-edge technology and eco-friendly methids to
          enhance project outcomes.
        </p>
      </div>
      <div class="services-second-third-center-single-card">
        <img src={% static "/main_content/images/s6.png" %} alt="">
        <h3>Other services</h3>
        <p>
          Expert oversight from planning to completing, ensuring your project
          meets all goals and regulations.
        </p>
      </div>
      <span class="services-second-third-center-first-span"></span>
      <span class="services-second-third-center-second-span"></span>
    </div>
    <div class="services-second-third-third-card">
      <span></span>
    </div>
  </div>
  <div class="services-second-second-card">
    <div class="services-second-second-first-card">
      <span></span>
    </div>
    <div class="services-second-second-center-card"></div>
    <div class="services-second-second-first-card">
      <span></span>
    </div>
  </div>
  <div class="services-second-fouth-card">
    <div class="services-second-fouth-first-card">
      <span></span>
    </div>
    <div class="services-second-fouth-center-card"></div>
    <div class="services-second-fouth-third-card">
      <span></span>
    </div>
  </div>
</section>

<section class="services-third-card">
  <div class="services-third-first">
    <div class="services-third-first-first">
      <span></span>
    </div>
    <div class="services-third-first-center">
      <h1>Services Details</h1>
    </div>
    <div class="services-third-first-third">
      <span></span>
    </div>
  </div>
  <div class="services-third-second-card">
    <div class="services-third-second-first-card">
      <span></span>
    </div>
    <div class="services-third-second-center-card"></div>
    <div class="services-third-second-first-card">
      <span></span>
    </div>
  </div>
  <div class="services-third-third">
    <div class="services-third-third-first"></div>
    <div class="services-third-third-center">
      <img src={% static "/main_content/images/s1.png" %} alt="">
      <div class="services-third-third-cente-first-card">
        <h2>Services provided</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <button>Contact Us More Details</button>
      </div>
      <span class="services-third-third-first-span"></span>
      <span class="services-third-third-second-span"></span>
    </div>
    <div class="services-third-third-first"></div>
  </div>
</section>

<section class="services-fouth-card">
  <div class="services-fouth-center-card">
    <h2>Products</h2>
    <span></span>
    <span style="margin-top: 25px"></span>
    <div class="services-fouth-center-center">
      <img src={% static "/main_content/images/product 1.png" %} alt=""> <img
      src={% static "/main_content/images/product 2.png" %} alt=""> <img src={%
      static "/main_content/images/product 3.png" %} alt="">
    </div>
    <span></span>
    <span style="margin-top: 25px"></span>
  </div>
</section>

<section class="fifth-card">
  <div class="fifth-first">
    <span class="fifth-first-spa"></span>
    <div class="fifth-first-center">
      <h1>Future Products</h1>
      <span class="fifth-center-first-span"></span>
      <span class="fifth-center-second-span"></span>
    </div>
    <span class="fifth-first-spa"></span>
  </div>
  <div class="fifth-second">
    <span class="fifth-second-first"></span>
    <div class="fifth-second-center">
      <div class="fifth-second-center-first">
        <img src={% static "/main_content/images/s-ice-image.jpeg" %} alt="">
        <span class="fifth-second-center-first-span"></span>
        <span class="fifth-second-center-second-span"></span>
        <span class="fifth-second-center-third-span"></span>
        <span class="fifth-second-center-fouth-span"></span>
      </div>
      <div class="fifth-second-center-second">
        <h1>Steel Beam</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets .</p>
        <button>Learn More</button>  
    </div>
    </div>
    <span class="fifth-second-first"></span>
  </div>
</section>

<section class="services-sixth-card">
    <div class="services-sixth-first-card">
      <div class="services-sixth-first-first-card">
        <span></span>
      </div>
      <div class="services-sixth-first-center-card">
        <h1>Product List</h1>
      </div>
      <div class="services-sixth-first-third-card">
        <span></span>
      </div>
    </div>
    <div class="services-sixth-second-card">
      <div class="services-sixth-second-first-card">
        <span></span>
      </div>
      <div class="services-sixth-second-center-card"></div>
      <div class="services-sixth-second-first-card">
        <span></span>
      </div>
    </div>
    <div class="services-sixth-third-card">
      <div class="services-sixth-third-first-card">
        <span></span>
      </div>
      <div class="services-sixth-third-center-card">
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/product 1.png" %} alt="">
          <h3>Serveying</h3>
         <button>Concrete pipes</button>
        </div>
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/product 2.png" %} alt="">
          <h3>Constructions</h3>
          <button>Concrete pipes</button>
        </div>
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/product 3.png" %} alt="">
          <h3>Architecture</h3>
          <button>Concrete pipes</button>
        </div>
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/s4.png" %} alt="">
          <h3>labour Supply</h3>
          <button>Concrete pipes</button>
        </div>
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/s5.png" %} alt="">
          <h3>Material Supply</h3>
          <button>Concrete pipes</button>
        </div>
        <div class="services-sixth-third-center-single-card">
          <img src={% static "/main_content/images/s6.png" %} alt="">
          <h3>Other services</h3>
          <button>Concrete pipes</button>
        </div>
        <span class="services-sixth-third-center-first-span"></span>
        <span class="services-sixth-third-center-second-span"></span>
      </div>
      <div class="services-sixth-third-third-card">
        <span></span>
      </div>
    </div>
    <div class="services-sixth-second-card">
      <div class="services-sixth-second-first-card">
        <span></span>
      </div>
      <div class="services-sixth-second-center-card"></div>
      <div class="services-sixth-second-first-card">
        <span></span>
      </div>
    </div>
    <div class="services-sixth-fouth-card">
      <div class="services-sixth-fouth-first-card">
        <span></span>
      </div>
      <div class="services-sixth-fouth-center-card"></div>
      <div class="services-sixth-fouth-third-card">
        <span></span>
      </div>
    </div>

</section>

<section class="services-seveth-card">
    <div class="services-seventh-first-card">
        <div class="services-seventh-first-first-card">
          <span></span>
        </div>
        <div class="services-seventh-first-center-card">
         
        </div>
        <div class="services-seventh-first-third-card">
          <span></span>
        </div>
    </div>
    <div class="services-seventh-second-card">
        <div class="services-seventh-second-first-card">
          <span></span>
        </div>
        <div class="services-seventh-second-center-card"></div>
        <div class="services-seventh-second-first-card">
          <span></span>
        </div>
    </div>
    <div class="seventh-third">
        <span class="seventh-third-span"></span>
        <div class="seventh-third-center">
            <span class="seventh-third-center-span"></span>
            <span class="seventh-third-center-span-second"></span>
            <div class="seventh-third-center-first-card">
                <img src={% static '/main_content/images/about 3.png' %} alt="">
                <div class="seventh-third-center-top-img-card">
                    <h1>Ready to Get Started on Your Next</h1>
                    <h1>project ? </h1>
                    <p>Contact us today to discuss your construction needs</p>
                    <div>
                        <button>Request a Quote</button><button>Contact Us</button>
                    </div>
                </div>
            </div>
            <span class="seventh-third-center-third-span"></span>
            <span class="seventh-third-center-fouth-span"></span>
        </div>
    </div>
</section>
  

<section class="eigth-card">
    <span class="eight-first"></span>
    <div class="eight-center">
        <h1>We have a vision for the future of construction</h1>
        <img src={% static "/main_content/images/Group 117.png" %} alt="">
        <span class="eight-center-first-span"></span>
        <span class="eight-center-second-span"></span>
    </div>
    <span class="eight-first"></span>
</section>

{% include "main_content/includes/footer.html" %} {% endblock %}
