* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #001034;
  height: 70px;
  /* padding: 0px 60px; */
  display: flex;
  /* gap: 5rem; */
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
  justify-content: space-between;
}

header > div {
  width: 12.5%;
  padding: 5px;
  height: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* background-color: yellow; */
}

header > div > a {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image {
  width: 50px !important;
  height: 50px !important;
  /* background-color: red; */
}

.header-moving-span {
  position: absolute;
  bottom: -3px;
  width: 22px;
  /* Width of the moving span */
  height: 5px;
  /* Height of the moving span */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: moveLeftRight 4s linear infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    left: 14%;
  }

  100% {
    left: calc(100% - 15%);
    /* 100% - width of the moving span */
  }
}

header > div > img {
  width: 50px;
  height: 100%;
}

header > nav {
  width: 75%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  /* border: 2px solid red; */
}

header > nav > ul {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header > nav > ul > li > a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header-icons-card {
  display: none;
}

.show {
  position: absolute;
  left: 0;
  top: 70px;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 767px) {
  header {
    padding: 10px 40px;
    border: none;
    justify-content: space-between;
    align-items: center;
  }
  header > div {
    width: 200px;
    /* background-color: red; */
    margin-left: -70px;
  }
  header > :nth-child(3) {
    display: none;
  }
  header > nav {
    position: absolute;
    left: 0;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #132856;
    z-index: 9999;
    display: flex;
    border: none;
    display: none;
  }
  header > nav > ul {
    flex-direction: column;
  }
  header > nav > ul > li > a {
    font-size: 27px;
  }
  .header-moving-span {
    display: none;
  }
  .header-icons-card {
    display: block;
    cursor: pointer;
    color: #fff;
  }
  .header-icons-card > i {
    font-size: 22px;
  }
}

footer {
  width: 100%;
  padding: 40px 100px;
  background-color: #001034;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  color: #ffff;
}

.footer-inner-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-inner-first-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-inner-first-card > :nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-inner-first-card > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-inner-first-card > div > p {
  font-size: 18px;
}

.footer-icons-card {
  display: flex;
  gap: 1rem;
  font-size: 28px;
}

.footer-inner-second-card {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-inner-second-first-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.footer-inner-second-first-card > a {
  color: inherit;
  text-decoration: none;
}

.footer-end-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
}

.footer-end-card > div {
  display: flex;
  gap: 2rem;
}

@media (max-width: 767px) {
  footer {
    padding: 40px;
  }
  .footer-inner-card {
    flex-direction: column;
    gap: 2rem;
  }
  .footer-inner-first-card {
    width: 100%;
  }
  .footer-inner-second-card {
    width: 100%;
  }
  .footer-end-card {
    flex-direction: column;
    gap: 1rem;
  }
}

/* search card */

.d-search-card {
  width: 100%;
  height: 60px;
  padding-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-search-icons-card {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  gap: 1rem;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.d-search-icons-card > :nth-child(1) {
  color: grey;
}

.d-search-icons-card > input {
  width: 97%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 17px;
}

.d-search-second-card {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding-right: 20px;
}

.d-search-second-card > :nth-child(1) {
  position: relative;
}

.d-search-second-card > :nth-child(1) > :nth-child(1) {
  font-size: 20px;
  color: grey;
}

.d-search-second-card > :nth-child(1) > :nth-child(2) {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #001034;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-search-second-card > i {
  font-size: 20px;
  color: grey;
}

/* dash board */
.dashboard-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border: 2px solid grey; */
}

.dash-layout-inner-card {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
}

.dash-layout-inner-card > aside {
  width: 15%;
  height: 100%;
  background-color: #001034;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.dash-layout-inner-card > aside > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dash-layout-inner-card > aside > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 10px;
}
.dash-layout-inner-card > aside > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.dashboard-layout-right-main {
  width: 85%;
  height: 100%;
  border: none !important;
  overflow-y: scroll;
  background-color: rgb(252, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-layout-right-main > h3 {
  font-size: 20px;
  font-weight: 600;
}

.dashboard-layout-right-main > p {
  font-size: 18px;
  color: grey;
}
