<footer>
    <div class="footer-inner-card">
        <div class="footer-inner-first-card">
            <h3>Your Contruction Partner</h3>
            <div>
                <p>Address:</p>
                <p>level 12, smaple st kondapur</p>
            </div>
            <div>
                <p>Contact:</p>
                <p>9123456780</p>
                <p>info@test.com</p>
            </div>
            <div class="footer-icons-card">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="footer-inner-second-card">
            <div class="footer-inner-second-first-card">
                <a href="">About Us</a>
                <a href="">Services</a>
                <a href="">Project</a>
                <a href="">Testimonial</a>
            </div>
            <div class="footer-inner-second-first-card">
                <a href="">Career</a>
                <a href="">Blog</a>
                <a href="">Contact</a>
                <a href="">Privacy Policy</a>
            </div>

        </div>
    </div>
    <div class="footer-end-card">
        <p>&copy; 2024 SDVVL All Rights Reserved</p>
        <div>
            <p>Privacy Policy</p>
            <p>Terms and Services</p>
        </div>
    </div>
</footer>